page-about{
    .content-bg{
        height: 100%;
        overflow-y: scroll;
        
    }
}

.app-content{
    .scroll-content{
        padding: 8px;
    }
    .content-bg{
        /*background-color: color($colors , light);*/
        background-color: black; /* pm */
        color:white;
        p{
            margin: 0 0 18px 0;
        }
    }
}