page-about{
    .content-bg{
        height: 100%;
        overflow-y: scroll;
        
    }
    .profile-img {
        width:auto;
        height:auto;
        float:left;
        margin-top:0px;
    }
}

.app-content{
    .scroll-content{
        padding: 8px;
    }
    .content-bg{
        /*background-color: color($colors , light);*/
        background-color: color($colors, tback);
        color:color($colors,darken);
        p{
            margin: 0 0 18px 0;
        }
    }
}