// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
%main-bg{
  /*background-image: url(../assets/img/bg-head.png) !important;*/
}

%cover{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

%box-shadow{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

%overflow{
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #008BE0,   //primary:      #e18804,
  secondary:    #03a9f4,
  lightprimary: #ffc107,
  danger:       #f53d3d,
  light:        #919191,   //#fbf8fc,
  none:           transparent,
  graytext:     #757575,
  graylight:    #bdbdbd,
  dark:         #ECEAE2,   // #212121,
  darken:       #000,
  tback:         white  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$background-color: color($colors , tback);

$button-md-height: 3.4rem;
$button-md-text-transform: capitalize;
$button-md-font-size: 1.7rem;
$button-md-font-weight: normal;

$text-input-md-highlight-color: color($colors , secondary);

$toolbar-md-title-font-size: 1.7rem;

$searchbar-md-input-background-color: transparent;
$searchbar-md-input-border-radius: 0px;
$searchbar-md-input-box-shadow: none;
$searchbar-md-input-search-icon-color: color($colors , light);
$searchbar-md-input-placeholder-color: rgba(color($colors , light) , .5);
$searchbar-md-input-text-color: color($colors , light);
$searchbar-md-input-search-icon-size: 22px;
$searchbar-md-input-clear-icon-color: color($colors , light);

$fab-md-background-color: color($colors , secondary);
$fab-mini-size: 50px;

$card-md-border-radius: 0px;
$card-md-margin-bottom: 0px;
$card-md-margin-left: 0px;
$card-md-margin-right: 0px;
$card-md-margin-top: 0px;

$item-md-thumbnail-size: 110px;

$datetime-md-placeholder-color: #000;

$range-md-slider-height: 400px;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
