// shared sass Of Details
// --------------------------------------------------
page-details {
    .toolbar-background-md{
        /*opacity: .3;
        background-blend-mode: luminosity;
        transition: all .4s linear;
        -webkit-transition: all .4s linear;*/
    }
    .bar-button-default-md{
        /*color: color($colors, darken);
        background-color: color($colors,primary);*/
    }
    .content-md{
        /*background: url(../assets/img/det-bg.png);*/
        background-color: color($colors , tback);
        /*@extend %cover;*/
    }
    .stars{
        p{
            margin: 5px 0 4px 7px;
        }
    }
    .card-md{
        box-shadow: none;
    }
    .card-content-md{
        border-bottom: 1px solid color($colors, darken);
        &:last-child{
            border-bottom: none;
        }
    }
    .grid[no-padding]{
        .row{
            .col{
                padding: 5px;
            }
        }
    }


    ion-img {
	  display: inline-block;
    min-width: 250px;
    min-height: 250px;
       background-color:color($colors,tback);
    }

    ion-slides {
        width: 100%;
        height: auto;
        display: block;
        margin-top: 40px;        
    }

    .swiper-slide img
    {
	    width:auto;
	    height:auto;
    }
    .toolbar-background-md {
        /*border-color: #b2b2b2;
        background: color($colors, primary);*/
        opacity: 0.9;
    }

    .grid-feature
    {
        border-bottom:1px solid color($colors,primary);
        border-top:1px solid color($colors,primary);
    }
}

.colorOfHeader{
    &::after{
        display: none;
    }
    .toolbar-background-md{
       /* opacity: 1 !important;
        background-blend-mode: normal !important;
        background: color($colors , dark) !important;*/
    }
}

.activeColor{
    color: color($colors , secondary) !important;
    background-color: color($colors , darken) !important;
}

// Head Of Details
// --------------------------------------------------
.det-head{
    position: relative;
    height: 100%;
    h3{
        font-weight: 400;
        font-size: 1.8rem;
        color: color($colors, darken);
    }
    p{
        /*@extend %overflow;*/
        font-size: 1.2rem;
        color: color($colors, darken);
    }
}

.user-action{
    position: absolute;
    top: 10px;
    right: 10px;
    ion-icon{
        background: color($colors , primary);
        width: 30px;
        height: 30px;
        line-height: 1.6;
        text-align: center;
        border-radius: 50%;
        margin-bottom: 10px;
        color: white;
        font-size: 2rem;
        display: block;
    }
}

.det-info{
    position: absolute;
    bottom: 0;
   /* background: -webkit-linear-gradient(top, rgba(33,33,33,0) 0%,rgba(33,33,33,1) 58%,rgba(33,33,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
   /* background: linear-gradient(to bottom, rgba(33,33,33,0) 0%,rgba(33,33,33,0.98) 58%,rgba(33,33,33,0.98) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ed000000',GradientType=0 ); /* IE6-9 */
    .rent-info{
        margin-top: 50px;
    }
}

.grid-info{
    margin-top: 10px;
    margin-left: -5px;
    img{
        height: 25px;
        max-width: 25px;
        object-fit: contain;
        -o-object-fit: contain;
        margin: 5px auto;
    }
}

.scroll-btn{
    margin-bottom: 5px;
    font-size: 2rem;
    background: transparent;
}

// More Of Details
// --------------------------------------------------
.more-details{
    background: color($colors, tback);
    .card-title-md{
        font-size: 2.1rem;
    }
    h3{
        font-size: 1.6rem;
        margin: 5px 0 12px 0 !important;
    }
    p{
        font-size: 1.3rem;
        line-height: 1.3;
    }
}

.grid-info{
    .more-advantage{
        font-size: 2.6rem;
        ion-icon{
            margin-top: 10px;
        }
    }
    p{
        @extend %overflow;
        font-size: 1.2rem;
    }
}

// images style
//----------------------------    
.images{
    ion-row{
        margin-bottom: 6px;
    }
    ion-col{
        padding: 0 8px 0 0 !important;
    }
    img{
/*        height: 50px; */
        border-radius: 2px;
        object-fit: cover;
        -o-object-fit: cover;
    }
}

// footer style
//----------------------------
.detFooter{
    .grid{
        background: color($colors , primary);
    }
    [col-4]{
        height: 50px;
        line-height: 47px;
        font-size: 2.2rem;
        p{
            font-size: 1.7rem;
        }
    }
    .min-btn{
        border-right: 1px solid color($colors , darken);
        border-left: 1px solid color($colors , darken);
    }
}